* {
  cursor: none;
}

#first-empty {
  height: 100vh;
  width: 100vw;
  background: url("https://cdn.pixabay.com/photo/2016/11/23/13/46/beach-1852930_1280.jpg");
  background-size: cover;

  background-attachment: fixed;
}
#last-empty {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background: url("https://cdn.pixabay.com/photo/2014/08/19/20/04/sports-ground-421921_960_720.jpg");
}
.cursor {
  height: 50px;
  width: 50px;
}
.cursor:before {
  content: "";
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 50%;
  background: transparent;
  border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  pointer-events: none;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  pointer-events: none;
}
.cursor {
  background: none;
  height: 25px;
  width: 25px;
  position: absolute;
  border-radius: 50%;
  background: transparent;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.ball {
  height: 200px;
  width: 200px;
  position: absolute;
  background: url("https://cdn.pixabay.com/photo/2015/09/09/18/46/city-932511_960_720.jpg");
  border-radius: 50%;
  background-repeat: no-repeat !important;
  background-size: 100vw 100vh !important;
  background-attachment: fixed !important;
  pointer-events: none;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
h1 {
  text-shadow: -2px 2px 5px black;
  font-family: "Anton", "helvetica", sans-serif;
  font-size: 50px;
  letter-spacing: 12px;
  line-height: 1;
  text-align: center;
}

h1 span {
  letter-spacing: 10px;
}
.text {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ball-parent {
  height: 100vh;
  width: 100vw;
  background: yellow;
}

@keyframes example {
  0% {
    border: 5px solid green;
    width: 0%;
    height: 0%;
  }
  100% {
    border: 0px solid green;
    width: 50px;
    height: 50px;
  }
}

@keyframes firstexample {
  0% {
    border: 0px solid pink;
    width: 0%;
    height: 0%;
  }

  50% {
    border: 5px solid orange;
    width: 0%;
    height: 0%;
  }
  100% {
    border: 0px solid blue;
    width: 50px;
    height: 50px;
  }
}
